//==========================================
// Project colors
//==========================================

$background-color: #2e2a33;

$black:         #000000;
$white:         #ffffff;

$gray:          #333333;
