.logo {
	animation: logoInit 1s forwards 1 ease-out;
	will-change: opacity transform;
	width: 100%;
	text-align: center;
}

.clock {
	animation: clockInit 1s .3s forwards 1 ease-out;
	opacity: 0;
}

hr {
	margin: 30px 0 -10px 0;
    border-top: 1px solid #494250;
	animation: hrInit .5s .6s forwards 1 ease-out;
	transform: scaleX(0);
}

@keyframes hrInit{
	from {
		transform: scaleX(0);
	}

	to {
		transform: scaleX(1);
	}
}


@keyframes logoInit{
	from {
		transform: translateY(-10px);
		opacity: 0;
	}

	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes clockInit{
	from {
		transform: translateY(10px);
		opacity: 0;
	}

	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
