//========================================== 
// Normalize to reset some usefull default's
// browser CSS to start a project
//==========================================

body,
button,
input,
optgroup,
select,
textarea,
fieldset,
dd {
	margin: 0;
}

input[type="checkbox"],
input[type="radio"],
button,
fieldset,
legend,
td,
th {
	padding: 0;
}

ul,
ol,
dl,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $defaultMargin;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
	min-width: $defaultMinWidth;
  font: normal 14px/1.2em Arial, Helvetica, sans-serif;
  color: $gray;
}

a {
  text-decoration: none;
}

a,
button,
input,
select {
  outline: 0;
}

a img {
  border: none;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input {
  line-height: normal;
}

input:focus {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

fieldset {
  padding: $defaultPadding;
  border: none;
}

textarea {
  overflow: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

hr {
  margin: $defaultMargin 0;
  border: 0;
  border-top: 1px dashed lighten($gray, 60%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  line-height: 1.6em;
  color: inherit;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

dt,
dd {
  line-height: inherit;
}

th {
  text-align: left;
}

legend {
  display: block;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
}
